<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/portal/css/style.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>


    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="//code.jquery.com/jquery-1.10.2.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>


    <title>{% block title %}Portal{% endblock %}</title>
    <style>
        body {
            padding-left: 20px;
            padding-right: 20px;
        }
    </style>


    {% block stylesheets %}

        {% stylesheets '@PortalBundle/Resources/public/css/*' filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}
    {% endblock %}

   {% block javascripts %}
        {% javascripts '@PortalBundle/Resources/public/js/*'%}
        <script type="text/javascript" src="{{ asset_url }}" defer></script>
        {% endjavascripts %}
    {% endblock %}

</head>
<body>

{% block header %}
    <div>
    <ul class="nav nav-tabs nav-justified">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li role="presentation"><a href="{{ path ('announce_new') }}">Add announcement</a></li>
            <li role="presentation"><a href="{{ path ('announce') }}">Announcements</a></li>

            <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
            <li role="presentation"><a href="{{ path('fos_user_profile_show') }}">{{ 'Profile'|trans({}, 'FOSUserBundle') }}</a></li>
            <li role="presentation"><a href="{{ path('fos_user_profile_edit') }}">{{ 'Edit'|trans({}, 'FOSUserBundle') }}</a></li>
            <li role="presentation"><a>{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a> </li>

        {% else %}
            <li role="presentation"><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            <li role="presentation"><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
        {% endif %}
    </ul>
    </div>
{% endblock %}

{% block fos_user_content %}
{% endblock fos_user_content %}

<div class="container">
    {% block menu %}{% endblock %}

    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                {{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block page %}{% endblock %}

</div>

<script src="{{ asset('bundles/jordillonchcrudgenerator/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/jordillonchcrudgenerator/js/bootstrap.js') }}"></script>

<script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript">


    $(document).ready(function () { //
        $(".longString").each(function () {
            var maxwidth = 30;
            if ($(this).text().length > maxwidth) {
                $(this).text($(this).text().substring(0, maxwidth));
                $(this).html($(this).html() + '...');
            }
        });
    });
</script>

{% block javascript %}{% endblock %}
</body>
</html>