<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap.css') }}" rel="stylesheet">
    <title>{% block title %} Portal{% endblock %}</title>
    <style>
        body {
            padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            padding-left: 20px;
        }
    </style>
    <link href="{{ asset('bundles/jordillonchcrudgenerator/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>

    <link href="{{ asset('bundles/portal/css/style.css') }}" rel="stylesheet">
</head>
<body>

<div class="container">
    {% block menu %}{% endblock %}

    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                {{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
            </div>
        {% endfor %}
    {% endfor %}

    {% block page %}{% endblock %}

</div>

<script src="{{ asset('bundles/jordillonchcrudgenerator/js/jquery.min.js') }}"></script>
<script src="{{ asset('bundles/jordillonchcrudgenerator/js/bootstrap.js') }}"></script>
{% block javascript %}{% endblock %}
{% block fos_user_content %}
{% endblock fos_user_content %}
</body>
</html>