{% extends 'PortalBundle::layout.html.twig' %}

{% block header %}
    <div>
        <ul class="nav nav-tabs nav-justified">
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <li role="presentation"><a href="announce/new">Add announcement</a></li>
            <li role="presentation"><a href="announce">Announcements</a></li>

            <li role="presentation"><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
            <li role="presentation"><a href="{{ path('fos_user_profile_show') }}">{{ 'Profile'|trans({}, 'FOSUserBundle') }}</a></li>
            <li role="presentation"><a href="{{ path('fos_user_profile_edit') }}">{{ 'Edit'|trans({}, 'FOSUserBundle') }}</a></li>
            <li role="presentation">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} </li>

        {% else %}
            <li role="presentation"><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
            <li role="presentation"><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
        {% endif %}
        </ul>
    </div>
{% endblock %}